<div class="tabs">
  <a
    class="tab"
    routerLink="/navigator"
    [queryParams]="{ tab: 0 }"
    routerLinkActive="tab-active"
    >InCome</a
  >
  <a
    class="tab"
    routerLink="/navigator"
    [queryParams]="{ tab: 1 }"
    routerLinkActive="tab-active"
    >OutCome</a
  >
  <a
    class="tab"
    routerLink="/navigator"
    [queryParams]="{ tab: 2 }"
    routerLinkActive="tab-active"
    >Loans</a
  >
  <a
    class="tab"
    routerLink="/navigator"
    [queryParams]="{ tab: 3 }"
    routerLinkActive="tab-active"
    >Investments</a
  >
</div>
